.About {
  width: 680px;
  height: 600px;
}

.Title {
  position: relative;
  left: 50%;
}

.Title a {
  font-size: 55px;
  font-weight: lighter;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.Title a:hover {
  text-shadow: 1px 1px gray;
}

.Navigation {
  position: relative;
  left: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-right: 0px;
  width: 100%;
  min-height: 50px;
  text-align: center;
}

.Navigation a {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-flex;
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.Navigation a:hover {
  text-shadow: 1px 1px gray;
}

.Story {
  position: relative;
  left: 50%;
  margin-top: 40px;
}
