.Home {
  width: 700px;
  height: auto;
}

.JinPicture {
  text-align: center;
}

.JinPicture img {
  width: 350px;
  height: 435px;
}

.SocialMedia {
  margin-top: 15px;
  text-align: center;
}

.SocialMedia a {
  margin-left: 15px;
  margin-right: 15px;
}

.SocialMedia img {
  height: 70px;
  width: 70px;
}

.SocialMedia img:hover {
  box-shadow: 4px 4px 4px gray;
}

@media (max-width: 375px) {
  .SocialMedia {
    margin-top: 10px;
    text-align: center;
  }
}
