.Home {
  position: flex;
}

.Title {
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.EnglishTitle {
  font-size: 70px;
  font-weight: lighter;
  font-family: "Noto Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

.KoreanTitle {
  font-size: 60px;
  font-family: "Sunflower", sans-serif;
  font-weight: lighter;
  margin-top: 10px;
  padding-bottom: 25px;
}

.SocialMedia {
  position: absolute;
  top: 92%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.SocialMedia button {
  margin-right: 20px;
  background-color: white;
}
