.Home {
  width: 700px;
  height: auto;
}

.JinPicture {
  text-align: center;
}

.JinPicture img {
  width: 360px;
  height: 440px;
}

.SocialMedia {
  margin-top: 15px;
  text-align: center;
}

.SocialMedia a {
  margin-left: 15px;
  margin-right: 15px;
}

.SocialMedia img {
  height: 70px;
  width: 70px;
}

.SocialMedia img:hover {
  height: 74px;
  width: 74px;
  background-color: gray;
}

@media (max-width: 375px) {
  .Home {
    width: 100%;
  }

  .SocialMedia {
    margin-top: 20px;
  }
}
