.Title {
  margin-top: 10px;
  width: 100%;
}

.Title a {
  font-size: 55px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 4px 4px 4px black;
}

.Title a:hover {
  color: black;
  text-shadow: none;
}

.Pages {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.Pages a {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.Navigation a:hover {
  color: black;
  text-shadow: none;
}

@media (max-width: 375px) {
  .Title {
    margin-top: 10px;
    margin-left: 35px;
  }

  .Title a {
    font-size: 45px;
  }

  .Pages {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Pages a {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 35px;
  }
}
