.Title {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.Title a {
  font-size: 55px;
  text-decoration: none;
  color: black;
}

.Title:hover .Name {
  color: gray;
  font-weight: 450;
}

.Pages {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.Pages a {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.Pages img {
  margin-right: 15px;
  margin-bottom: 7px;
  width: 20px;
  height: 20px;
  align-items: center;
}

.Pages a:hover img {
  background-color: gray;
}

@media (max-width: 375px) {
  .Title {
    text-align: left;
    margin-left: 20px;
  }

  .Title a {
    font-size: 45px;
  }

  .Pages a {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 37px;
  }

  .Pages img {
    margin-right: 12px;
    margin-bottom: 4px;
    width: 15px;
    height: 15px;
    align-items: center;
  }
}
