.Projects {
  width: 680px;
  height: auto;
}

.BetterWorld {
  margin-top: 15px;
  height: 500px;
  overflow-y: scroll;
  text-align: center;
}

.BetterWorld a {
  text-decoration: none;
  color: black;
}

.BetterWorld h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  opacity: 0.7;
}

.BetterWorld h3:hover {
  opacity: 1;
}

.BetterWorld li {
  margin: 7px 0px;
  text-align: left;
}

.BetterWorld img {
  margin-top: 15px;
  width: 620px;
  height: 270px;
}

@media (max-width: 375px) {
  .Projects {
    width: 355px;
  }

  .BetterWorld img {
    margin-top: 15px;
    width: 355px;
    height: 190px;
  }
}
