.Projects {
  width: 680px;
  height: auto;
}

.BetterWorld {
  margin-top: 20px;
  overflow-y: scroll;
  text-align: center;
}

.BetterWorld a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.BetterWorld h3 {
  margin: 0px 5px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.BetterWorld h3:hover {
  color: black;
  text-shadow: none;
}

.BetterWorld li {
  margin: 10px 10px;
  text-align: left;
}

.BetterWorld img {
  margin-top: 15px;
  width: 630px;
  height: 280px;
}

@media (max-width: 375px) {
  .Projects {
    width: 350px;
  }

  .BetterWorld li {
    text-align: left;
    font-size: 16px;
  }

  .BetterWorld img {
    margin-top: 10px;
    width: 350px;
    height: 180px;
  }
}
